/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkseagreen;
}

main {
    margin-top: 30px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

figcaption {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
}